body {
  background: #f0f2f5;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: white;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(103, 99, 99, 0.1);
  padding: 20px;
  width: 300px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background: #f9fafb;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  background: #b0b7c9;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #d0d3d8;
}
.btn:active {
  background: #f3f4f5;
}

.toggbtn, .operator{
  background: #FF9800;
  color: #f9fafb;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  
}
.toggbtn:hover{
   background: #b07927;
}
.operator:hover{
   background: #b07927;
}
.toggbtn:active{
   background: #d0c1aa;
}
.operator:active{
   background: #b1a088;
}

#scientific, .func{
  padding: 10px;
  font-style: italic;
  border-radius: 10px;

}
.func{
  background: #d8d5d0;
}

.equal {
  grid-column: span 3;
  background: #4e93e1;
  color: white;
}

.equal:hover {
  background: #357ac8;
}

.hidden {
  display: none;
}
